.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40px;
  height: 22px;
  padding: 2px 3px;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-secondary);
  border-radius: 50px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.5s;
}

.container:hover {
  border-color: #7a774d;
}

.ball {
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
}
